.round-image{
  border-radius:100px;
  width:140px;
  height:140px;
  margin-top:40px;
}
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Cormorant+Garamond:wght@300&family=Teko:wght@300&display=swap');
body{
  background:#0f0e0f;
  color:white !important;
  font-family: 'Cormorant Garamond', serif !important;
}
body > div{
overflow-x:hidden;
}
#text{
  padding-top:40px;
  padding-bottom:30px;
}
a{
  color:white;
  font-weight:bold;
  cursor:pointer;
}
a:focus,a:hover{
  text-decoration:none;
  color:silver;
}
.nav-link,.navbar-brand{
  color:white !important;
}
code{
  color:white;
  font-weight:bolder;
}

#footer{
  margin-top:40px;
}
.card{
  max-width:400px;
  background:#1e212b;
  margin-top:15px;
  padding:20px 30px 20px ;
  transition:all 1s;
}
.icons{
  font-size:25px;
  padding-left:8px;
}
#work{
  display:flex;
  align-items: space-around;
}
.span{
  padding-right:5px;
}
.btn-second{
background:#1e212b;
color:white;
margin-right:5px;
border:none;
}
.btn-second:hover{
  color:white;
  border:none;
}
.btn-second:focus{
  outline:none;
  border:none;
}
.arr{
  font-size:15px;
  font-weight:bolder;
}

input[type=name],[type=email],textarea{
  background:#1e212b;
  min-width:100%;
  padding:10px;
  outline: none;
  border:none;
}
input [placeholder]{
  padding:5px;
  font-weight:bold;
  color:white;
}
input:focus{
  outline:none;
  background:white;
}
label{
  padding-top:4px;
}
textarea{
  padding:50px;
}
.btn-shoot{
  background:#1e212b;
  color:white;
  text-align:center;
  border:none;
  outline:none;
  min-width:100%;
  padding:10px;
  margin-top:30px;
  font-weight:bolder;
  }
  .btn-shoot::-moz-focus-outer{
    border:none;
  }
  #option{
    margin-top:40px;
  }
  #resume{
    margin:30px auto;
    border:1px solid #1e212b;
    width:80%;
    background:#1e212b;
    padding:10px;
    padding-bottom:30px;
  }
  @media only screen and   (min-width:700px){
    #resume{
      margin:30px auto;
      border:1px solid #1e212b;
      width:40%;
      background:#1e212b;
      padding:10px;
      padding-bottom:30px;
    }
  }
  #ass{
    font-size:10px;
    text-align:left;
  }
  hr{
    background-color:white;
    width:50%;
  }
  header{
    min-height:70px;
    background:transparent;
    color:white;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
  }
  header .logo{
   margin-left: 30px;
   text-transform:uppercase;
   letter-spacing:2px;
   font-size:20px;
   font-family: 'Teko', sans-serif !important;
  }
  header ul{
    list-style:none;
    margin-right:50px;
  }
  header ul li{
    display:inline-block;
  }
  header ul li a{
    text-decoration:none;
    color:white;
    opacity:0.6;
    padding:0 15px;
    text-transform: uppercase;
  }
  header ul li a:hover{
    opacity:1;
  }
  header .menu, header .close{
    cursor:pointer;
    text-transform:uppercase;
    border:none;
    padding:10px 20px;
    margin-right:20px;
    display:none;
  }
  header .close{
    position:absolute;
    top:10px;
    right:0;
  }
  @media (max-width:750px){
    header.logo,header ul{
      width:100%;
      margin:0;
      text-align:center;
      line-height:50px;
    }
  }
  @media (max-width:500px){
    header ul{
      position:fixed;
      top:0;
      left:-100%;
      background:#555;
      width:100%;
      height:100vh;
      display:flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      z-index:99;
      transition:0.5 linear;
    }
    header ul.toggle{
      left:0;
    }
    header ul li{
      line-height:normal;
    }
    header .menu,
    header .close{
      display:block;
    }
    header .logo{
      width:initial;
      margin-left:20px;
      line-height:70px;
    }
  }
